.pie {
    grid-area: footer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;  
    justify-content:space-around;  
    font-weight: regular;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: black;
    color: white;
}




a {
    text-decoration: none;
} 
span {
     margin: 15px;
     font-family: 'IBM Plex Mono', monospace;
}
iframe {
    margin: 15px;
}